

@font-face {
    font-family: 'Lato-Reg';
    src: url('Lato-Reg.otf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('Lato-Bol.otf');
}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf');
}


*{
  -focused-shadow-color: derive(dodgerblue, -20%);
  -wd-shadow : derive(white, -20%);
  -fx-text-fill-base : derive(red, -20%);
  -launchicon-color : black;
}

.root {
   /*-fx-base: rgba(60, 60, 60, 255);*/
   /*-fx-text-box-border :  rgba(60, 60, 60, 255);*/
}


.fxf-fx1banner{
    -fx-border-color : transparent;
    /*-fx-background-color: linear-gradient(from 50% 100% to 50% 50% , #1e90ff, #0000cd 100% );*/
    -fx-background-color: #2680b4;
}

.fxf-fx2banner{
    -fx-border-color : transparent;
    -fx-background-color: #46ad1a;
    /*-fx-background-color: linear-gradient(from 50% 100% to 50% 50% , #7cfc00, #008000 100% );*/
}

.fxf-fx3banner{
    -fx-border-color : transparent;
    -fx-background-color: #ef9a18;
    /*-fx-background-color: linear-gradient(from 50% 100% to 50% 50% , #ff8c00, #8b4513 100% );*/
}

.fxf-fx5banner{
    -fx-border-color : transparent;
    -fx-background-color: #483D8B;
    /*-fx-background-color: linear-gradient(from 50% 100% to 50% 50% , #ff8c00, #8b4513 100% );*/
}


.fxf-session-header{
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 18px;
    -fx-text-fill : dodgerblue;
}    



.fxf-sidebar{
    -fx-background-color: white;
    /*-fx-border-color : white blue white white;*/
    /*-fx-effect: dropshadow(three-pass-box, red, 5, 0, 5, 0);*/
    /*-fx-border-width : 5*/
}


.fxf-sidebar_icon{
    -fx-background-image: url("analise.png");
    /*-fx-border-color : black;*/
    /*-fx-background-repeat: stretch ;*/   
    -fx-background-size: 80 300;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/  
}



#fxf-chartbt{
    -fx-background-color: transparent; 
}

#fxf-chartbt:hover {
    /*-fx-border-color : transparent transparent -focused-shadow-color transparent;*/
    -fx-effect: dropshadow(three-pass-box, blue, 1.0, 0, 1.0, 1.0);
}


#fxf-prepbt{
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    
}

#fxf-prepbt:hover {
    /*-fx-border-color : transparent transparent -focused-shadow-color transparent;*/
    -fx-effect: dropshadow(three-pass-box, black, 1.0, 0, 0.0, 0.0);
}

#fxf-prepbt:selected {
    -fx-background-color: whitesmoke;
    /*-fx-border-color : innershadow(three-pass-box, blue, 5.0, 0, 0.0, 0.0);*/
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 0, 2.0, 2.0);
}




.fxf-sidebarbt{
    -fx-background-color: white; 
    -fx-text-fill : white;
}

.fxf-sidebarbt:hover{
    -fx-text-fill : lightslategray;
 
}

.fxf-sidebarbt:focused {
    -fx-border-color : transparent transparent -focused-shadow-color transparent;
    -fx-effect: dropshadow(three-pass-box, -focused-shadow-color, 10.0, 0, 5.0, 5.0);
}



.fxf-userpanel {   
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, gray, 10.0, 0, 5.0, 5.0);
    -fx-background-radius: 8 8 18 18;
    -fx-border-radius: 8 8 18 18;
    
}

.fxf-node-panel{
    -fx-background-color : -fx-base;
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 12px;
    -fx-fill: -fx-text-fill-base; 
}


.fxf-text{
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 12px;
    -fx-fill: -fx-text-fill-base;
}

.fxf-text-header2{
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 18px;
}

.fxf-qdlg{
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 12px;
}


.fxf-cdtimer {
    -fx-font-family: "Lato-Reg";
    -fx-fill: white;
    -fx-text-fill : black;
    -fx-stroke : black;
}

.fxf-cdtimer .pclock{
    -fx-font-size: 16px;
    -fx-text-alignment :  center;  
}

.fxf-cdtimer .bkgbar{
    -fx-fill: white;
    -fx-effect :  dropshadow(three-pass-box, blue, 5.0, 0, 1.0, 1.0);
    -fx-stroke : gray;
    
}

.fxf-timelist {
    -fx-border-color : transparent transparent transparent dodgerblue;
    -fx-border-width : 2
}

.fxf-timelist:hover {
    /*-fx-border-color : transparent transparent black transparent;*/
    -fx-effect: dropshadow(three-pass-box, gray, 10.0, 0, 5.0, 5.0);
}



.fxf-bargraph{
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 7px;
    -fx-fill: black;
    -fx-stroke : black;
    -fx-background-color : transparent;
}

.fxf-bargraphframe{
    -fx-effect: innershadow(three-pass-box, white, 5.0, 0, 0.0, 0.0);
    -fx-stroke : derive(gray, -20%);
}
    
.fxf-bargraph-lineframe{
    -fx-stroke : linear-gradient(to left, #7cfc00 13% , #ffff00 20% );
}

.fxf-bargraph-line{
    -fx-stroke : derive(gray, -20%);
}

.fxf-bargraph-tags{
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 10px;    
}

.fxf-bargraph .pclock{
    -fx-font-family: "Lato-Reg";
    -fx-text-fill : black;
    -fx-font-size: 16px;
    -fx-text-alignment :  center;  
}




.fxf-glyph:hover {
    /*-fx-background-color: gray;*/
    /*-fx-border-color : transparent transparent white transparent;*/
    -fx-effect: dropshadow(three-pass-box, white, 10.0, 0, 2.0, 2.0);
}

.glyph-font.gradient{
    -fx-effect: innershadow( three-pass-box , derive(-fx-text-fill,-70%) , 0.1em, 0.0 , 0.07em, 0.07em );
}

.glyph-font.hover-effect:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}

.glyph-font.hover-effect:selected{
    -fx-effect: dropshadow( three-pass-box , derive(-fx-text-fill,0%) , 0.01em, 0.0 , 0, 0);
}


.fxf-label-field {
    -fx-border-color : white white black white;
    -fx-background-color: white;
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 14px;
    /*-fx-background-color: linear-gradient(to top, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);*/ 
}

.fxf-label-field:hover {
    -fx-border-color : transparent transparent black transparent;
    -fx-effect: dropshadow(three-pass-box, gray, 10.0, 0, 5.0, 5.0);
}

.fxf-biglabel-field {
    -fx-border-color : white white -fx-text-box-border white;
    -fx-background-color: white;
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 22px;
    /*-fx-background-color: linear-gradient(to top, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);*/ 
}

.fxf-biglabel-field:hover {
    -fx-border-color : transparent transparent black transparent;
    -fx-effect: dropshadow(three-pass-box, gray, 10.0, 0, 5.0, 5.0);
}


.fxf-text-field {
    -fx-border-color : white white gray white;
    -fx-background-color: white;
    /*-fx-background-color: linear-gradient(to top, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);*/ 
}

.fxf-text-field:hover {
    -fx-border-color : transparent transparent black transparent;
    -fx-effect: dropshadow(three-pass-box, gray, 10.0, 0, 5.0, 5.0);
}

.fxf-text-field:focused {
    -fx-border-color : transparent transparent -focused-shadow-color transparent;
    -fx-effect: dropshadow(three-pass-box, -focused-shadow-color, 10.0, 0, 5.0, 5.0);
}

.fxf-text-field .clear-button {
    -fx-padding: 0 3 0 0;
}

.fxf-text-field .clear-button > .graphic {
    -fx-background-color: #949494;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5;  
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}

.fxf-text-field .clear-button:hover > .graphic {
    -fx-background-color: #ee4444;
}

.fxf-text-field .clear-button:pressed > .graphic {
    -fx-background-color: #ff1111;
}


.fxf-filtertime-field:hover {
    -fx-border-color : transparent transparent black transparent;
    -fx-effect: dropshadow(three-pass-box, gray, 10.0, 0, 5.0, 5.0);
}

.fxf-filtertime-field:focused {
    -fx-border-color : transparent transparent -focused-shadow-color transparent;
    -fx-effect: dropshadow(three-pass-box, -focused-shadow-color, 10.0, 0, 5.0, 5.0);
}



.fxf-lauchicon {
    -fx-effect: dropshadow(three-pass-box, -launchicon-color, 10.0, 0, 0.0, 0.0);
}

.fxf-lauchicon:hover {
    -fx-effect: dropshadow(three-pass-box, -launchicon-color, 10.0, 0, 5.0, 5.0);
}

.fxf-lauchbutton {
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 14px;
    /*-fx-background-color : orange;*/
    -fx-background-radius : 20;
}

.fxf-lauchbutton:hover {
    -fx-effect: dropshadow(three-pass-box, -launchicon-color, 10.0, 0, 5.0, 5.0);
}


.fxf-launchicon-text{
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 10px;
}

.fxf-acplogo{
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 48px;
    -fx-fill: -launchicon-color;
    -fx-effect: dropshadow(three-pass-box, derive(-launchicon-color, -60%), 5.0, 0, 2.0, 2.0);
}

.fxf-notif-icon {
    
}

.fxf-notif-icon:hover {
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 0, 1.0, 1.0);
}

.fxf-notif-text {
    -fx-padding: 3 ;
    -fx-border-insets: 3 ;
    -fx-border-color : transparent transparent transparent gray;  
}

.fxf-shutdownbutton{
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 16px;
}

.fxf-shutdownbutton:hover{
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 16px;
}    

.modal-snack {
   -fx-background-color: linear-gradient(to bottom, black, gray); 
   -fx-background-radius: 30;
   -fx-effect: innershadow(three-pass-box, black, 4.0, 0, 0.0, 0.0);
}

.modal-snack-text {
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 20px;
    -fx-fill : white;
}

/* LEDS ============================================= */

.fxf-ledfail-off{
    -fx-background-radius : 10;
    -fx-background-color : darkred;
    -fx-text-fill : derive(darkred, +60%);;
}

.fxf-ledfail-on{
    -fx-background-radius : 10;
    -fx-background-color : radial-gradient(focus-angle 0deg , focus-distance 0% , center 50% 50% , radius 73% , orange, darkred);
    -fx-text-fill : white;
}

.fxf-ledcharge-off{
    -fx-background-radius : 10;
    -fx-background-color : darkblue;
    -fx-text-fill : dodgerblue;
}

.fxf-ledcharge-on{
    -fx-background-radius : 10;
    -fx-background-color : radial-gradient(focus-angle 0deg , focus-distance 0% , center 50% 50% , radius 63% , dodgerblue, darkblue);
    -fx-text-fill : white;
}

.fxf-ledfinal-off{
    -fx-background-radius : 10;
    -fx-background-color : darkgreen;
    -fx-text-fill : green;
}

.fxf-ledfinal-on{
    -fx-background-radius : 10;
    -fx-background-color : radial-gradient(focus-angle 0deg , focus-distance 0% , center 50% 50% , radius 63% , limegreen, darkgreen);
    -fx-text-fill : white;
}

.fxf-ledwait-off{
    -fx-background-radius : 10;
    -fx-background-color : darkorange;
    -fx-text-fill : derive(darkorange, +40%);
}

.fxf-ledwait-on{
    -fx-background-radius : 10;
    -fx-background-color : radial-gradient(focus-angle 0deg , focus-distance 0% , center 50% 50% , radius 63% , gold, darkorange);
    -fx-text-fill : white;
}


.modal-dialog {
   /*-fx-background-color: linear-gradient(to bottom, lightyellow, derive(white, 20%));*/ 
   -fx-background-radius: 30;
   /*-fx-border-color: black;*/
   -fx-effect: dropshadow(three-pass-box, black, 5.0, 0, 2.0, 2.0);
   -fx-background-color: aliceblue;
   /*-fx-effect: dropshadow(three-pass-box, black, 10.0, 0, 5.0, 5.0);*/
   
}


.controlpanelbutton {
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 20 px;
    -fx-text-fill : black;
}

.controlpanelbuttonsmall{
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 14 px;
    -fx-text-fill : black;
}


.controlpanelbutton:hover {
  -fx-cursor: default;
  -fx-effect: dropshadow(three-pass-box, black, 1.0, 0, 0.0, 0.0);
}

.controlpanelbuttonsmall:hover {
  -fx-cursor: default;
  -fx-effect: dropshadow(three-pass-box, black, 1.0, 0, 0.0, 0.0);
}






.simplebutton:default {
  -fx-background-color: dodgerblue;
  -fx-background-radius: 10;
}

.simplebutton:hover {
  -fx-cursor: default;
  -fx-effect: dropshadow(three-pass-box, black, 10.0, 0, 3.0, 3.0);
}




.modal-dialog .button:default {
  -fx-background-color: dodgerblue;
  -fx-background-radius: 10;
}



.modal-dialog .button {
  -fx-background-color: dodgerblue;
  -fx-background-radius: 10;
  -fx-border-color: gray;
  -fx-border-radius: 10;
  
}

.modal-dialog .button:hover {
  -fx-cursor: default;
  -fx-effect: dropshadow(three-pass-box, black, 10.0, 0, 3.0, 3.0);
}


.context-menu {
    -fx-padding : 20;
    -fx-effect: dropshadow(three-pass-box, black, 10.0, 0, 3.0, 3.0);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    /*-fx-background-color: Beige;*/
}

.context-menu-dark {
   -fx-background-color: #4d001a; 
}

.context-menu-dark .label {
   -fx-color: yellow; 
}

.context-menu-title:disabled {
    -fx-opacity: 1.0;    
}

.context-menu-title:disabled .label {
    -fx-opacity: 1.0;
}

.context-menu-title:disabled:hover {
    -fx-background-color: white;
}

.context-menu-title:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.context-menu-label:disabled {
    -fx-opacity: 1.0;
    -fx-padding: 1 1 1 1;
    /*-fx-spacing: 1;*/
}

.context-menu-label:disabled .label {
    -fx-opacity: 1.0;
    -fx-padding: 1 1 1 10;
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 10px;
    -fx-text-fill: dodgerblue;
}

.context-menu-label:disabled:hover {
    -fx-background-color: white;
}

.context-menu-label:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/*.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-color: white;
  -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;  overridden as 5 2 0 0 
}*/

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab-header-area .tab {
    -fx-pref-height: 150;
    -fx-pref-width: 62;
    /*-fx-padding: 60 60 60 60;*/
}

.tab .tab-label {
    -fx-rotate: 90;
    -fx-font-family: 'Lato-Bold';
    -fx-font-size: 16px;
    -fx-text-fill : blue;
    /*-fx-padding: 60 0 0 0;*/
/*    -fx-alignment: bottom;
    -fx-text-alignment: bottom;       */
}


.color-palette .hyperlink, .color-palette .separator {
  visibility: hidden ;
}







.split-pane > .split-pane-divider {  
    /*-fx-padding: 0 0.25em 0 0.25em;*/
    -fx-padding: 0 0 0 0;  
} 

.info-pane {
   /*-fx-background-color: linear-gradient(to bottom, lightyellow, derive(white, 20%));*/ 
   -fx-background-radius: 30;
   /*-fx-margin: 0 50 0 0;*/
   /*-fx-border-color: black;*/
   -fx-effect: innershadow(three-pass-box, black, 10.0, 0, 2.0, 2.0);
   -fx-background-color: white;
   /*-fx-effect: dropshadow(three-pass-box, black, 10.0, 0, 5.0, 5.0);*/
   
}


.dosetable {
   -fx-border-color : transparent;
}

.dosetable:hover {
  -fx-effect: dropshadow(three-pass-box, black, 10.0, 0, 3.0, 3.0);
}

.dosetable-column {
    -fx-border-color : transparent;
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 10px;
    
}

.dosetable .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0px;
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 12px;
    -fx-text-fill : black;
}


.dosetable .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-border-color : transparent;
}

.dosetable .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5px 0;
}

.dosetable .column-header {
    -fx-background-color: transparent;
}


.infopanelbt{
    -fx-background-color: white; 
    -fx-text-fill : white;
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 11px;
}

.infopanelbt:hover{
    -fx-text-fill : lightslategray;
 
}

.infopanelbt:focused {
    -fx-border-color : transparent transparent -focused-shadow-color transparent;
    -fx-effect: dropshadow(three-pass-box, -focused-shadow-color, 10.0, 0, 5.0, 5.0);
}

.infopanel-label {
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 11px;
    -fx-text-fill : black;
}

.infopanel-field {
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 12px;
    -fx-text-fill : black;
    -fx-border-color : white white black white;
    -fx-background-color: white;
}

.infopanel-field:hover {
  -fx-effect: dropshadow(three-pass-box, black, 10.0, 0, 3.0, 3.0);
}

.chartoverlay-header {
    -fx-font-family: 'Lato-Bold';
    -fx-font-size: 18px;
    -fx-text-fill : blue;
    -fx-background-color : transparent;
}

.chartoverlay-messagelabel {
    -fx-font-family: 'Lato-Reg';
    -fx-font-size: 10px;
    -fx-text-fill : black;
    -fx-background-color : transparent;
}


.x-value-indicator-label { 
    -fx-font-family: 'Lato-Reg';
    -fx-font-size: 9 px;
    -fx-text-fill : black;
    -fx-background-color: yellow;
    -fx-border-color : white;
    /*-fx-opacity : 0.7 ;*/
    -fx-effect: dropshadow(three-pass-box, gray, 4.0, 0, 3.0, 3.0);
}
.x-value-indicator-line  {
    -fx-stroke: pink;
    -fx-stroke-width: 2;
/*    -fx-rotate : 90;*/
}


.y-value-indicator-label {
    -fx-font-family: 'Lato-Reg';
    -fx-font-size: 9 px;
    -fx-text-fill : black;
    -fx-background-color: yellow;
    -fx-border-color : white;
    /*-fx-opacity : 0.7 ;*/
    -fx-effect: dropshadow(three-pass-box, gray, 4.0, 0, 3.0, 3.0);
   
}
.y-value-indicator-line {
    -fx-stroke: red;
}


.x-range-indicator-label {
    -fx-font-family: 'Lato-Reg';
    -fx-font-size: 9 px;
    -fx-text-fill : black;
    -fx-background-color: orange;
    -fx-border-color : white;
    /*-fx-opacity : 0.7 ;*/
    -fx-effect: dropshadow(three-pass-box, gray, 4.0, 0, 3.0, 3.0);
}


.x-range-indicator-rect {
    -fx-fill: rgba(173, 255, 47, 0.5);
}
 

.y-range-indicator-label {
    -fx-font-family: 'Lato-Reg';
    -fx-font-size: 9 px;
    -fx-text-fill : black;
    -fx-background-color: orange;
    -fx-border-color : white;
    /*-fx-opacity : 0.7 ;*/
    -fx-effect: dropshadow(three-pass-box, gray, 4.0, 0, 3.0, 3.0);
}

.y-range-indicator-rect {
    -fx-stroke: orange;
    -fx-fill: #416ef468;
}


.journal-textarea {
    -fx-font-family: Exo;
    /*-fx-font-weight: bold;*/
    -fx-font-size: 12 px;
    -fx-text-fill : darkslategrey;
    -fx-border-color : transparent;
}












/*.fxf-bargraph{
    -fx-font-family: "Lato-Reg";
    -fx-font-size: 7px;
    -fx-fill: -fx-text-fill-base;
    -fx-stroke : -fx-text-fill-base;
}

.fxf-bargraphframe{
    -fx-effect: innershadow(three-pass-box, white, 5.0, 0, 0.0, 0.0);
    -fx-stroke : derive(-fx-base, -20%);
}
    
.fxf-bargraph-lineframe{
    -fx-stroke : linear-gradient(to right, #7cfc00 53% , #ff0000 72% );
}

.fxf-bargraph-line{
    -fx-stroke : derive(-fx-base, -20%);
}

.fxf-bargraph-tags{
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 10px;    
}*/






  
/*  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
  -fx-border-color: derive(-fx-glass-color, -20%);
  -fx-border-width: 5;
  -fx-background-insets: 12;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-background-radius: 6;*/