.chart-datapoint-tooltip-label {
    -fx-background-color: lightgray ; /*rgb(153.0, 204.0, 204.0);*/
    -fx-border-color: black;
    -fx-border-radius: 3.0;
    -fx-font-size: 10.0;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.chart-crosshair-path {
	-fx-stroke-width: 1.0;
}

.chart-zoom-rect {
	-fx-fill: dodgerblue;
	-fx-stroke: #002966 ;
	-fx-stroke-type: inside;
	-fx-stroke-width: 1.0;
	-fx-opacity: 0.2;
}

.value-indicator-label {
    -fx-background-color: #f4e242;
    -fx-border-color: black;
    -fx-border-radius: 2.0;
    -fx-font-size: 12.0;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding: 1.0 2.0 1.0 2.0;
}

.range-indicator-label {
    -fx-background-color: #f4e242;
    -fx-border-color: black;
    -fx-border-radius: 2.0;
    -fx-font-size: 12.0;
    -fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-padding: 1.0 2.0 1.0 2.0;
}

.value-indicator-line {
	-fx-stroke-width: 1;
	-fx-stroke: black;
	-fx-stroke-dash-array: 8;
}

.range-indicator-rect {
	-fx-stroke: transparent;
	-fx-fill: #416ef468;
}





.chart-plot-background {
    -fx-background-color: white;
}


.default-color0.chart-line-symbol { 
    -fx-background-color: blue, white;
    /*-fx-background-insets: 0, 2;*/
    -fx-background-radius: 4px;
    -fx-padding: 4px;

}

.default-color1.chart-line-symbol { 
    -fx-background-color: green, white;
    /*-fx-background-insets: 0, 2;*/
    -fx-background-radius: 4px;
    -fx-padding: 4px;

}



.default-color0.chart-series-line { 
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}



.default-color1.chart-series-line { 
    -fx-stroke: green; 
}
